.navbar-container {
    display: flex;
    background-color: #DEB6AB;
    align-items: center;
    font-weight: bold;
    border-radius: 15px;
}

.navbar-img {
    margin: 0px 15px;
    height: 30px;
    width: 50px;
}

.item1,
.item2,
.item3 {
    font-size: larger;
    padding: 10px 12px;
    margin: 8px;
    display: flex;
    background: #F8ECD1;
    border-radius: 8px;
    border: solid;
    border-color: #85586F;
}

a:link {
    text-decoration: none;
    color: #85586F;
}

/* visited link */
a:visited {
    text-decoration: none;
    color: #85586F;
}

.item1:hover,
.item2:hover,
.item3:hover {
    background: #85586F;
    color:#F8ECD1;
    border-color: #DEB6AB;
}

/* selected link */
a:active {
    text-decoration: none;
}