.post-container {
    display: flex;
    flex-direction: column;
}

.separate {
    margin: 10px;
    display: flex;
    justify-content: space-around;
}

.post-items {
    display: flex;
    flex-direction: column;
    padding: 10px;
    row-gap: 10px;
    background: #F8ECD1;
    border-radius: 15px;
    border: solid;
    max-width: 80%;
    flex-grow: 1;
}

.content-details {
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
}

.friend-details {
    display: flex;
    column-gap: 10px;
}

.post-image {
    width: 60px;
    height: 60px;
    border-radius: 15px;
    border: solid;
}

.author-time {
    display: flex;
    flex-direction: column;
}

.author {
    font-weight: bold;
}